* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', 'sans-serif';
    color: #333;
    line-height: 1.6;
    background-color: #dadada8a;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.container {
    margin: 40px 90px;
    max-width: 2100px;
}

.bio p {
    font-size: 2.2rem;
}

.bio a {
    display: inline-block;
    color: rgb(3, 3, 3);
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    font-weight: 400;
    letter-spacing: 1px;
}

.bio a:hover {
    color: rgba(75, 75, 75, 0.767);
    letter-spacing: 0px; 
}

.un {
    display: inline-block;
    height: 5px;
    padding: 1px;
    margin: 2px;
}

.un::after {
    display: block;
    content: '';
    margin-top: -11px;
    width: 0px;
    height: 5px;
    border-radius: 13px;
    transition: 300ms;
    background: linear-gradient(to left, #a011ff5e, #00ffaa71);
}

.un:hover::after {
    width: 100%;
}

.navbar a{
align-items: flex-end;
font-size: 4rem;
margin: 20px 50px -20px -0;
display: flex;
flex-direction: column;
text-decoration: none;
color: #333;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 90px;
    padding: 0;
    justify-content: space-around;
    gap: 4.6875rem;
}

.tile {    
    height: 369px;
    width: 492px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 250ms ease-in-out;
    margin-bottom: 50px;
    position: relative;
}

.tile img {
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    display: block;
    margin: auto auto;
}

.tag {
    max-width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}


.tile:hover {
    transform: scale(1.39020);
    /* margin-bottom: 102px; */
}




footer {
    width: 100%;
    height: 89px;
    background-color: #333;
    color: #fafafa;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    overflow: hidden;
}

footer a {
    color: #fafafa;
    transition: all 150ms ease-in-out;
    font-size: 2rem;
}

footer a:hover {
    background: linear-gradient(to left, #ff11ebde, #00ffddde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 14px rgba(7, 91, 247, 0.356);
}


.deun::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    border-radius: 13px;
    transition: 150ms;
    background: linear-gradient(to left, #ff11ebde, #00ffddde);
}

.deun:hover::after {
    width: 0px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
   {

    body {
        line-height: 1.4;
        /* background-color: red; */
    }
    .container {
        margin: 40px 20px;
    }
    .bio p {
        font-size: 1.4rem;
    }
    .flex-container {
        margin-bottom: 0;
        gap: 0;
        justify-content: space-evenly;
    }
    .tile {
        height: 369px;
        width: 492px;
    }
    .tile img {
        max-width: 320px;
    }
    .tile:hover {
        transform: scale(1.15);
    }
}

@media only screen 
  and (min-device-width: 220px) 
  and (max-device-width: 767px)
   {
    footer p {
        display: none;
    }
  }



@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 920px)
   {
    .bio p {
        font-size: 2.8rem;
    }
    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: 1.5rem;
    }
}

@media only screen 
  and (min-device-width: 1520px) 
   {
    .bio p {
        font-size: 2.8rem;
    }
}
